@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Open+Sans+Condensed:ital,wght@1,300&family=Press+Start+2P&family=Sigmar+One&display=swap');

*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    font-size: 2vw;
    color:rgb(167, 167, 167);
}

body{
    background: #ffffff ;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 90%;
    text-align: center;
}

body>name{

    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    left: -5%;
}
.Graffiti{

    font-size: 4vw;
    font-family: 'Sigmar One', cursive;
    background-image: url("background.png") ;
    color: rgb(255, 255, 255);

    border: 3px solid rgb(26, 33, 136);
    background-color: rgb(26, 33, 136);
}

header{

    position: relative;
    margin-top:auto;
    padding: 15%;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 4vw solid rgb(26, 33, 136);
    border-radius: 6px;
    width: 70%;
    height: 60%;
    left: 10%;
    background-color: rgb(72, 72, 82);
    
}


header > level{
    position: absolute;
    text-align: left;
    top: 5%;
    left:3%;
    line-height: 2vw;
}


header > scoreboard{
    position : absolute;
    bottom: 5%;
    right: 3%;
    color: aquamarine;
    font-size: 3vw;
}


.questions {

    color: rgb(255, 255, 255);
    text-align: cenleftter;
    position: relative;

    top : -5%;
    font-size: 3vw;
    padding-bottom: 10%;
}

.expression{

    color: rgb(255, 255, 255);
    text-align: left;
    position: relative;
    padding-bottom: 5%;

}


input[type=number], select {

    height: 4vw;
    position: relative ;
    font-size: 2vw;
    text-align: center;
    width: 100px;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    background-color: rgba(0, 0, 139, 0);

}

button{

    width: 90px;
    height: 2.5vw;
    font-size: 1.5vw;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}


@keyframes blink{

    0%{color:red; 
        opacity:0;
    }
    50%{color:red; 
        opacity:0.5;
    }
    100%{color: aquamarine;}
}

body > game{

    position: relative;
    padding-left: 27%;
    padding-right: 27%;
    padding-bottom: 50%;
    left: -5%;



}

